<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>713181138031-ku5pu89811empsngimcq8i3l7kcfbdsg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.713181138031-ku5pu89811empsngimcq8i3l7kcfbdsg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>713181138031-a9enhncrdq8u36oinha434hhhqf50ibv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBBVy_cmtKYGl-YyCwAS6psA3Dq-wadojU</string>
	<key>GCM_SENDER_ID</key>
	<string>713181138031</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rrbofficial.multiStoreApp</string>
	<key>PROJECT_ID</key>
	<string>salesease-bf7ef</string>
	<key>STORAGE_BUCKET</key>
	<string>salesease-bf7ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713181138031:ios:ba879a08105685da2a919a</string>
</dict>
</plist>